@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Poppins&display=swap");
:root {
  --primaryBlack: #181818;
  --secondaryBlack: #212121;
  --secondaryGrey: #373737;

  --fontColor: rgb(88, 87, 87);
  --purple: #5e4dcd;
}
.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #61dafb;
  height: 100vh;
  width: 100vw;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.duration {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: -4vh 0px 0px -2vh;
}
.duration p {
  font-weight: 700;
  color: white;
  background: rgba(0, 0, 0, 0.72);
  padding: 0px 4px 2px 4px;
  border-radius: 2px;
}

.hoverButton {
  display: none;
  /* visibility: hidden; */
  transition: 1s;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #00000078;
  position: absolute;
  font-size: x-large;
  color: whitesmoke;
  cursor: pointer;
}
.detailsButton {
  height: fit-content;
  margin: 18px 5px;
  font-size: small;
  /* color: black; */
  transform: rotate(180deg);
  transition: all 0.5s ease 0s;
}

.expand {
  text-shadow: 3px 4px 3px black;
}

.loader {
  width: px;
  height: 215px;
  display: block;
  margin: auto;
  position: relative;
  background: #fff;
  box-sizing: border-box;
}
.loader::after {
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 15px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 100%
    ),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 16px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
  background-position: -185px 0, center 0, center 115px, center 142px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  to {
    background-position: 185px 0, center 0, center 115px, center 142px;
  }
}

.ChannelCardGroup {
  padding: 4px 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color:#252525; */
  /* max-width: 1100px; */
}

#loading {
  background: white;
  margin: 2vh auto;
  display: none;
}

.CardGroup {
  /* margin: auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: var(--primaryBlack);
  /* max-width: 1100px; */
}
/* // Design card */

.card {
  width: 190px;
  height: 254px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: black;
}

.card-img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

/* // Design card 2 */
.card2 {
  width: auto;
  height: auto;
  /* max-width: 50%; */
  /* background: white; */
  padding: 0.2em;
  border-radius: 6px;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.card-image img:hover {
  transition: 1s;
  /* transform: scale(0.98); */
  cursor: pointer;
  /* filter: grayscale(0.8); */
}

.category {
  /* text-transform: uppercase; */
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.subscriber {
  background: red;
  color: white;
  border-radius: 6px;
  padding: 1px 4px;
  display: flex;
  align-items: center;
}
.heading {
  font-weight: 600;
  /* color: rgb(88, 87, 87); */
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}
i {
  color: white;
}
.title {
  padding: 0px 0.5rem;
  color: white;
  -webkit-line-clamp: 2;
  line-height: 1.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word; /* Important for long words! */
}
.channelName {
  padding: 5px 7px 0 7px;
  font-weight: bold;
  font-size: x-small;
  color: var(--fontColor);
}

.name:hover {
  cursor: pointer;
}

.mainCardDiv {
  margin: 2vh 0;
  width: 40%;
}

.MainContainer {
  background: var(--secondaryGrey);
  color: white !important;
}
@media screen and (max-width: 500px) {
  .mainCardDiv {
    width: 80%;
  }
  .sideBar {
    display: none !important;
  }
  .MainContainer {
    width: 100% !important;
  }
}

::-webkit-scrollbar {
  /* width: 0px; */
  display: none;
}

.ytp-title {
  display: none !important;
}

.ytp-chrome-top {
  display: none !important;
}

/* tab  */
.select {
  color: white;
  min-height: 40px;
  width: 25%;
  min-width: 100px;
  background: var(--primaryBlack);
}
.Tab {
  color: white;
  min-height: 30px !important;
  background: var(--secondaryBlack) !important;
}
/* dropdown */
.dropdown {
  background: var(--secondaryBlack);
  min-height: 40px;
}

/* INput css  */

.InputGroup {
  display: flex;
  padding: 0vh 0 0 0vh;
  max-width: 600px;
  margin: 2vh auto;
  position: sticky;
  top: 10px;
  background: var(--primaryBlack);
  border-radius: 50px;
  align-items: center;
  width: 80%;
  /* width: -webkit-fill-available; */
}

.input {
  width: -webkit-fill-available;
  min-height: 45px;
  padding: 0rem 0 0rem 2rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid transparent;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit i {
  padding: 0.5em 3vh 0.5em 1em;
}
.button--submit {
  min-height: 45px;
  border: none;
  border-radius: 0 50px 50px 0 !important;
  background-color: var(--secondaryGrey) !important;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
  background-color: #5e5dcd;
}

.input:focus,
.input:focus-visible {
  border: 1px solid;
  border-radius: 50px 0 0 50px;

  border-color: #3898ec;
  outline: none;
}

/* sidebar  */

.sideBar {
  height: 100vh;
  width: 16%;
  min-width: 200px;
  background: var(--secondaryBlack);
  position: sticky;
  top: 0px;
}
.logo img {
  height: 20px;
  position: absolute;
  margin: 0px 0px 0px -10px;
  filter: drop-shadow(2px 4px 6px black);
}

.logo {
  font-family: "Oswald", sans-serif;
  margin: 2vh 0;
  width: 70%;
  align-items: center;
  font-size: x-large;
  color: white;
  font-weight: 500;
  /* text-align: center; */
  justify-content: start;
  display: flex;
}

.youtube {
  width: 15px;
  height: 20px;
  margin: 0 5px;
  position: relative;
  background-color: #e21;
  padding: 0 15px;
  border-radius: 50% / 11%;
}
.youtube::before {
  content: "";
  position: absolute;
  background: inherit;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -4.5%;
  border-radius: 5% / 50%;
}

.sideTab {
  display: flex;
  justify-content: space-evenly;
  padding: 0.8rem;
  cursor: pointer;
}

.sideTab-i {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.sideTab-p {
  display: block;
  margin: auto;
  width: 70%;
  color: white;
  font-weight: 500;
}
